{% extends "layout.twig" %}
{% block body %}

<div class="row">
    <h1 class="text-center text-uppercase">Listing des composants</h1>
</div>

    <div class="row mt-2">
        <div class="col-lg-8 col-md-12 mt-4">
            <div class="card shadow">
                <div class="card-body">
                    <h4>Inventaire</h4>
                    <table id="comps" class="table table-hover table-sm table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Catégorie</th>
                                <th scope="col">Référence</th>
                                <th scope="col">Desciption</th>
                                <th scope="col">Quantité</th>
                                <th scope="col">Prix</th>
                                <th scope="col">Emplacement</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        

                        <tbody>
                            {% for item in items %}
                            <tr>
                                <th scope="row" class="text-body">{{item.Category.name}}</th>
                                <td class="text-body">{{item.ref}}</td>
                                <td class="text-body">{{item.description}}</td>
                                <td class="text-body">{{item.qty}}</td>
                                <td class="text-body">{{item.price}}€</td>
                                <td class="text-body">{{item.location}}</td>
                                <td class="text-nowrap">
                                    <button id="del-{{ item.idItem }}" class="btn btn-sm btn-danger"><i
                                            class="fa fa-trash" aria-hidden="true"></i></button>
                                    <button id="move-{{ item.idItem }}" class="btn btn-sm btn-primary"><i
                                            class="fa fa-arrows-h" aria-hidden="true"></i></button>
                                    <button id="order-{{ item.idItem }}" class="btn btn-sm btn-primary"><i
                                            class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 mt-4">
            <div class="card border-default mb-3 shadow">
                <div class="card-body text-default">
                    <h5 class="card-title">Ajout d'un composant</h5>
                    <p class="card-text">
                    <form action="/composants" method="post">
                        <div class="form-group">
                            <label for="ref">Référence</label>
                            <input type="text" name="ref" id="ref" class="form-control" placeholder="Ex: j'en ai pas"
                                required>
                            <div class="form-group">
                                <label for="category">Catégorie</label>
                                <select class="form-control" name="category" id="category">
                                    {% for cat in categories %}
                                    <option value="{{ cat.idCategory }}">{{ cat.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="desc">Description</label>
                            <input type="text" name="desc" id="desc" class="form-control"
                                placeholder="Ex: 7-segments anode commune blabla" required>
                        </div>

                        <div class="form-group">
                            <label for="price">Prix(€)</label>
                            <input type="number" name="price" id="price" class="form-control" placeholder="Ex: 25"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="loc">Localisation</label>
                            <input type="number" name="loc" id="loc" class="form-control" placeholder="Ex: 0001"
                                required>
                        </div>

                        <button type="submit" class="btn btn-primary mt-1">Ajouter</button>
                        <button type="reset" class="btn btn-warning mt-1">Effacer</button>

                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(() => {
        $('button').click(function (e) {

            const method = e.currentTarget.id.split('-')[0]
            const target = e.currentTarget.id.split('-')[1]
            console.log(method);
            switch (method) {
                case "move":
                    e.preventDefault();
                    //TODO
                    break;
                case "del":
                    e.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/api/clearBasket",
                        success: function (response) {
                            console.log(document.cookie);
                            console.log(response);
                        }
                    });
                    break;
                case "order":
                    e.preventDefault();
                    // Envoi d'une requete pour ajouter cet item au panier
                    $.ajax({
                        type: "POST",
                        url: "/api/addBasket",
                        data: { id: target },
                        dataType: "json",
                        success: function (response) {
                            console.log(document.cookie);
                            console.log(response);
                        }
                    });
                    break;

                default:
                    break;
            }

        });
    });
</script>

<script src="https://cdn.datatables.net/v/dt/dt-2.0.3/datatables.min.js"></script>

<script type="text/javascript">

    $(function () {
        // Ma page est prete, les data sont toutes là.
        // On aplique DataTable
        console.log('Mise en place DT');
        let table = new DataTable('#comps');


    });

</script>
{% endblock %}

{% block stylesheets %}<link href="https://cdn.datatables.net/v/dt/dt-2.0.3/datatables.min.css" rel="stylesheet">
{% endblock %}